body{
    display: block;
    background-color: rgb(247, 247, 247);
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: 2px solid rgb(236, 239, 242);
}
a:active{
    background: linear-gradient(20deg, #9900ff 0%, #33ccff 100%);
}
.leftnav{
    float: left;
    font-size: 24px;
    font-weight: bold;
    
}
.rightnav{
    float: right;
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color: rgb(141, 136, 136);
    font-weight: lighter;
    background-color: transparent;
}
.inscriptionBody{
    float: right;
    display: flex;
    margin-top: 50px;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    gap: 3%;
}
.picture1{

    width: 40%;
    margin-right: 50px;
    border-radius: 15px;
}
label{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
}
input{
    margin-top: 8px;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 100%;
    height: 33px;
    border-radius: 4px;
    border: 2px solid rgb(231, 232, 233);
}
.h1{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4%;
}
.buttoninscrire{
    width: 100%;
    height: 35px;  
    margin-top: 8px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(20deg, #9900ff 0%, #33ccff 100%);
    color: white;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
}
#connect{
    color: rgb(151, 36, 151);
}
#p2{
    text-align: center;

}


.accueilBody1{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: auto;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 5px;
    text-align: center;
}
.accimg{
    width: 100%;
    height: 100%;
    
}
.accimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.acctext{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;

}
#buttonaccueil{
    display: block;
    margin: 0 auto; 
    border-radius: 4px;
    border: none;
    background: linear-gradient(20deg, #9900ff 0%, #33ccff 100%);
    color: white;
    font-size: 16px;
    padding: 14px;

}
.leftText{
    display: block;
    float: left;
    width: 50%;
    text-align: left;
}
.rightText{
    display: block;
    float: right;
    width: 50%;
}
.block1{
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
.bl1-1{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 4%;
    text-align: left;
 
}
.round{
    border-radius: 100%;
    padding: 15px;
    height: 7px;
    text-align: center;
    background-color: blue;
    
}
.profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    gap: 2%;
}
.accBody2{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}
.accBody2-1{
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;  
}
.accBody2-1 .imgs,
.accBody2-1 img.imgs {
    display: block;
    width: 100%;
    height: 120px;       
    object-fit: cover;
    object-position: center;
    border-radius: 6px 6px 0 0; 
}
.accBody2-2{
    padding: 10px;
}

h5{
    color: #9900ff;
}
#h1{
    color: #9900ff;
}
.h1-1{
    text-align: center;
    margin-top: 7%;
}
.cen{
    text-align: center;
}
#button2accueil{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
    border: none;
    background: linear-gradient(20deg, #9900ff 0%, #33ccff 100%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    width: 30%;

}
textarea{
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    height: 10vh;
    border-radius: 4px;
    border: 2px solid rgb(231, 232, 233);
}
textarea:placeholder-shown{
    color: rgb(241, 242, 244);
}
.p{
    color: rgb(141, 136, 136);
}

footer{
    display: flex;
    flex-direction: row;
    bottom: 0%;
    width: 100%;
  
    padding: 15px;
    background-color: #33ccff;
}
.Allicons{
    display: flex;
    flex-direction: row;
    gap: 25%;
}
.icon{
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 600px){
    .inscriptionBody img{
        display: none;
    }
}